*{
    padding: 0;
    margin: 0;
}
body{
    margin: 30px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);

}
section#timeline{
    width: 80%;
    min-height: 100px;
    position: relative;
    /* border: 1px solid black;  */
    margin: 20px;
    font-size: large;

}

section#timeline::before{
    content: '';
    background-color: black;
    width: 5px;
    height: 100%;
    display: block;
    position: absolute;
    right: 50%;
    animation-name: line;
    animation-duration: 3s;
    background-image: linear-gradient(black, blue);
}
section#timeline article::after{
    content: '';
    display: block;
    clear: both;
}
.inner{
    float: left;
    width: 40%;
    border: 2px solid white;
    padding: 20px;
    background-color: black;
    color: azure;
    
}
.inner::after{
    content: '';
    position: absolute;
    background-color: blue;
    height: 55px;
    width: 100px;
    left: 37%;
    top: 61px;
    rotate: -45deg;
    z-index: -1;
    
}

.inner1{
    float: right;
    width: 40%;
    border: 2px solid white;
    margin-top: 160px;
    padding: 20px;
    background-color:  black;
    top: 90px;
    color: azure;
    
    
}
.inner1::before{
    content: '';
    position: absolute;
    background-color: blue;
    height: 55px;
    width: 100px;
    right: 37%;
    top: 190px;
    rotate: -45deg;
    z-index: -1;
    
    
}

.inner2{
    float: left;
    margin-top: 200px ;
    width: 40%;
    border: 2px solid white;
    padding: 20px;
    background-color:  black;
    top: 90px;
    color: azure;
}
.inner2::after{
    content: '';
    position: absolute;
    background-color: blue;
    height: 55px;
    width: 100px;
    left: 37%;
    top: 425px;
    rotate: -45deg;
    z-index: -1;
}

.inner3{
    float: right;
    margin-top: 200px ;
    width: 40%;
    border: 2px solid white;
    padding: 20px;
    background-color:  black;
    top: 90px;
    color: azure;
}
.inner3::after{
    content: '';
    position: absolute;
    background-color: blue;
    height: 55px;
    width: 100px;
    right: 37%;
    top: 550px;
    rotate: -45deg;
    z-index: -1;
}
@keyframes line{
    0%{
        height:0%
    }
    25%{
        height:25%
    }
    50%{
        height:50%
    }
    75%{
        height:75%
    }
    100%{
        height:100%
    }
}


